{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	-  Detail produit
{% endblock %}

{% block body %}

<h2 class="titlePage">{{titre}} {{product.name}}</h2>

<div class="product">
    <p>{{product.description}}</p>
    <img src="{{asset('img/' ~ product.image)}}" alt="{{product.image}}">
    <div classe="prix">
        <p class="priceStyle">Le prix est de : {{product.prix}}€</p>
        <a class="btn btn-success" href="#">Acheter</a>
    </div>
</div>
{% endblock %}